<p id="notice"><%= notice %></p>

<div class="layout">
  <div class="nav">

  </div><!-- .layout -->
  <div class="main">
  </div><!-- .main -->
</div><!-- .layout -->

<h1>Estatus de empresas</h1>

<br>
<table align="center">
  <tr>
    <td align="right">
      <% if can? :create, Company %>
        <%= link_to 'Dar de alta nueva empresa', new_company_path %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
      <div align="right">
        <%= form_tag(companies_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
          <%= submit_tag "Buscar" %>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<br>

<div div align="center">
  <table>
    <thead>
      <tr>
        <th>Nombre de Empresa</th>
        <th>Email</th>
        <th>Nombre</th>
        <th>Industria</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <% if can? :read, company %>
          <tr>
            <td><%= link_to company.company_name, company_path(id:company) %></td>
            <td><%= company.email %></td>
            <td><%= company.name %></td>
            <td>
              <% if company.sector %>
                <%= company.sector.name %>
              <% end %>
            </td>
            <td><%= company.state %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>