<p id="notice"><%= notice %></p>

<div class="layout">

  <%= render 'shared/nav' %>

  <div class="main">

    <div class="actions-emprered">
      <h1 class="main-headline">Estatus de empresas</h1>
          <% if can? :create, Company %>
            <%= link_to 'Dar de alta una empresa', new_company_path %>
          <% end %>
    </div>

    <%= form_tag(index_emprered_path, :method => "get", id: "search-form") do %>
      <%= select_tag(:order, options_for_select([['', 'created_at'],['Empresa', 'company_name'], ['Nombre', 'name'], ['Estado', 'state'], ['Sector', 'sector_id']], 3)) %>
      <%= text_field_tag :search, params[:search], placeholder: "Buscar Empresa" %>
      <%= submit_tag "Buscar" %>
    <% end %>

    
    <table class="site-table">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Email</th>
          <th>Nombre</th>
          <th>Industria</th>
          <th>Estado</th>
        </tr>
      </thead>

      <tbody>
        <% @companies.each do |company| %>
          <% if can? :read, company %>
            <tr>
              <td data-title="Empresa"><%= link_to company.company_name, company_path(id:company) %></td>
              <td data-title="Email"><%= company.email %></td>
              <td data-title="Nombre"><%= company.name %></td>
              <td data-title="Industria">
                <% if company.sector %>
                  <%= company.sector.name %>
                <% end %>
              </td>
              <td data-title="Estado" class="estado--<%= company.state.downcase %>"><%= company.state %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  </div><!-- .main -->
</div><!-- .layout -->

<%= render "shared/footer" %>

