<p id="notice"><%= notice %></p>

<h1>Listing Questions - <small><%= @survey.title %></small></h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Grade</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey.questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.grade %></td>
        <td><%= question.category.title %></td>
        <td><%= link_to 'Edit', edit_survey_question_path(@survey, question) %></td>
        <td><%= link_to 'Destroy', survey_question_path(@survey, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Notes', question_notes_path(question) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_survey_question_path %>
<%= link_to 'Back', surveys_path %>
