<p id="notice"><%= notice %></p>

<div class="layout">
  <%= render 'shared/nav' %>
  <div class="main">
    <h1 class="main-headline inline-block">Tus Notificaciones</h1>
    <br>
    <% @notifications.each do |notification| %>
      <p>
        <% if notification.event %>
          <%=link_to  notification.title, show_notification_path(notification_id: notification), method: :post %> <br>
          <strong>Calendario de eventos</strong>
        <% end %>
        <% if notification.notice %>
          <a href="<%= notification.notice.link %>" target="_blank">
              <%= notification.title %>  
          </a>
          <br>
          <strong>Noticia</strong>
        <% end %>
      </p>
    <% end %>
    <%= link_to 'Mas notificaciones', notifications_path %>
  </div>
</div>
<%= render "shared/footer" %>