<%= form_for [@survey, @reply] do |f| %>
	<% @categories.each do |category| %>
		<h1><%= category.title %></h1>
		<%= f.fields_for :answers do |c| %>
			<% if c.object.question.category.id == category.id %>
				<p><%= c.object.question.title %></p>
				<% c.object.question.possible_answers.each do |possible_answer| %>
					<label>
						<%= possible_answer.title %>
						<%= c.radio_button(:possible_answer_id, possible_answer.id) %>
					</label>
					<%= c.hidden_field(:question_id) %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
	<br>
	<div class="actions">
	<%= f.submit 'Guardar' %>
	</div>
<% end %>
