<%= form_for [@survey, @reply] do |f| %>

	<% @categories.each do |category| %>

		<fieldset>
		
			<legend class="main-headline"><%= category.title %></legend>

			<%= f.fields_for :answers do |c| %>
				<% if c.object.question.category.id == category.id %>
					<div class="question-item">
						
						<p><%= c.object.question.title %></p>
						<% c.object.question.possible_answers.each do |possible_answer| %>
							<label class="radio-custom">
								<%= c.radio_button(:possible_answer_id, possible_answer.id) %>
								<span></span>
								<%= possible_answer.title %>
							</label>
							<%= c.hidden_field(:question_id) %>
						<% end %>
					</div>
					
				<% end %>
			<% end %>

		</fieldset>

	<% end %>

	<%= f.submit 'Guardar', id: 'guardar', class: 'submit-btn' %>

<% end %>
