<p id="notice"><%= notice %></p>

<h1>Lista de respuestas - <small><%= @survey.title %></small></h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey.replies.each do |reply| %>
      <tr id="<%= dom_id(reply) %>">
        <td><%= reply.id %></td>
        <td><%= link_to 'Show', survey_reply_path(@survey, reply) %></td>
        <td><%= link_to 'Edit', edit_survey_reply_path(@survey, reply) %></td>
        <td><%# link_to 'Destroy', survey_question_path(@survey, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reply', new_survey_reply_path(@survey) %>
<%= link_to 'Back', surveys_path %>
