<p id="notice"><%= notice %></p>

<div class="layout">
  <%= render 'shared/nav' %>

  <div class="main">
    <% if @reply.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

        <ul>
        <% @reply.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= link_to 'Atrás', root_path, class: "back-button" %>
    <h1 class="main-headline inline-block">
      <strong>Nombre de Encuesta:</strong>
      <%= @survey.title %>
    </h1>
    <% unless @reply.done %>
      <% if current_user.is? 'company'%>
        <p class="color-green">
          <%= link_to 'Editar', edit_survey_reply_path(@survey, @reply), class: "btn" %>  
        </p>
      <% end %>
    <% end %>

    <ul class="tabs tabs-categories" data-tabs id="example-tabs">
      <% @categories.each_with_index do |category, index| %>
        <li class="tabs-title<% if index == 0 %> is-active<% end %>">
          <a href="#panel<%= index %>" aria-selected="true">
            <%= image_tag category.icon.url(:medium) %>
          </a>
        </li>
      <% end %>
    </ul><!-- .tabs -->

    <div class="tabs-content tabs-content-categories" data-tabs-content="example-tabs">
      <% @categories.each_with_index do |category, index| %>
        <div class="tabs-panel<% if index == 0 %> is-active<% end %>" id="panel<%= index %>">
          <h4 class="main-headline"><%= category.title %></h4>
          <% @reply.answers.each do |answer| %>
            <% if answer.question.category.id == category.id %>
              <div class="question-item">
                <p>
                  <strong><%= answer.question.title %></strong>
                  <% if current_user.is? 'admin' or current_user.is? 'agente' %>
                  <small>
                  Puntate: <mark><%= answer.grade %> / <%= answer.question.grade %></mark></small>
                <% end %>
                </p>
                <% if answer.title %>
                  <label class="radio-custom">
                    <input type="radio" checked>
                    <span></span>
                    <%= answer.title %>
                  </label>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div><!-- .tab-content -->
    
  </div>
</div>

<%= render "shared/footer" %>

