<p id="notice"><%= notice %></p>

<h2>Agentes disponibres</h2>
<h2>Emprered</h2>
<table>
	<thead>
		<tr>
		  <th>Nombre</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	    <% @emprereds.each do |emprered| %>
	        <tr>
	          <td><%= emprered.name %></td>
	          <td>
	          	<%=link_to "Asignar", asignar_path(user_id: emprered, company_id: @company ), method: :post %>	
	          </td>
	        </tr>
	    <% end %>
	</tbody>
</table>

<h2>Agentes</h2>
<table>
	<thead>
		<tr>
		  <th>Nombre</th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
	    <% @agents.each do |agent| %>
	        <tr>
	          <td><%= agent.name %></td>
	          <td>
	          	<%=link_to "Asignar", asignar_path(user_id: agent, company_id: @company ), method: :post %>	
	          </td>
	        </tr>
	    <% end %>
	</tbody>
</table>
<br>
<%= link_to 'Back', companies_path %>