<h2>Dar de alta nuevo consultor</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <h3>Roles</h3>
  <br>
 
  <div>
    <% User::Role.all.each do |role_id| %>
        <label>
            <%= f.radio_button(:role_id, role_id.id) %>
            <%= role_id.name %>
        </label>
        <br>
    <% end %>
  </div>

   <h3>Acerca del usuario</h3>

  <div class="field">
    <strong>Nombre</strong><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email%>
  </div>

  <div class="field">
    <strong>Lugar</strong><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
      <strong>Número máximo de empresas</strong><br />
      <%= f.text_field :num_max_companies%>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>
    <p>Será enviado un email que contiene un enlace a la dirección de correo electrónico proporcionada.El destinatario la usara para iniciar sesión y establecer su contraseña</p>
  </div>

  <div class="actions">
    <%= f.submit "Crear Usuario" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
