<p id="notice"><%= notice %></p>

<div class="layout">

  <% if current_user.is? 'admin' %>
    <%= render 'shared/nav' %>
  <% else %>
    <%= render 'shared/nav_empresario' %>
  <% end %>

  <div class="main">

    <% if current_user.is? 'admin' %>
      <%= link_to 'Atrás', index_manager_admin_path, class: "back-button" %>
    <% else %>
      <%= link_to 'Atrás', index_manager_user_path, class: "back-button" %>
    <% end %>

    <h1 class="main-headline inline-block">Pincipales tendencias</h1>

    <div>
      <% if @priority_notices %>
        <% @priority_notices.each do |priority_notice| %>
          <div>
         
          <%= link_to priority_notice.title, notice%>

          <p><%= priority_notice.date_pub %></p>
          
          <p><%= priority_notice.description %></p>
          </div>
        <% end %>
      <% end %>
    </div>

    <h1 class="main-headline inline-block">Noticias</h1>

    <div class="form-container--large">

      <div class="row small-up-1 medium-up-2 large-up-3">
        
      <% if @notices %>

        <% @notices.each do |notice| %>

          <div class="column column-block noticia">

            <a class="noticia__image" href="<%= notice.link %>">
              <%= image_tag (notice.image_notice.url) %>  
            </a>

            <%= link_to notice.title, notice, class: "noticia__title" %>

            <p class="noticia__meta"><%= notice.date_pub %></p>
            
            <p class="noticia__description"><%= notice.description %></p>
            
          </div><!-- .notice -->

        <% end %>

      <% end %>

      </div><!-- .row -->

      <br>

      <div class="row">
        <div class="large-12 columns">
          <%= link_to 'Ver todos', index_notice_user_path, class: "btn" %>
        </div>
      </div>

      <br>

    </div><!-- .form-container-large -->

    <div>
      
      <h1 class="main-headline inline-block">PRÓXIMOS EVENTOS</h1>
      <%= link_to 'Ver calendario', event_monitors_path %>
      <br>
      <% @events.each do |event| %>
        <%= event.title%><br>
        <%= event.start_at.strftime("Fecha: %m/%d/%Y")%><br>
        <%= event.website%><br>
        <hr>
        <br>
      <% end %>
    </div>

  </div><!-- .main -->

</div><!-- .layout -->

<%= render "shared/footer" %>