<p id="notice"><%= notice %></p>

<div class="layout">
  <% if current_user.is? 'admin' %>
    <%= render 'shared/nav' %>
  <% else %>
    <%= render 'shared/nav_empresario' %>
  <% end %>
  <div class="main">
    <% if current_user.is? 'admin' %>
        <%= link_to 'Atrás', index_manager_admin_path, class: "back-button" %>
      <% else %>
        <%= link_to 'Atrás', index_manager_user_path, class: "back-button" %>
      <% end %>
      <h1 class="main-headline inline-block">Noticias</h1>
      <%= link_to 'Grid', index_notice_user_path %>

    
      <%= form_tag(list_notice_user_path(), :method => "get", id: "search") do %>
        <div>
          <div>

            <%= select_tag(:show_notice, options_for_select([['Todo', 'all'],['Recientes', 'recent']],params[:show_notice]), :onchange => "this.form.submit();") %>

           <%= text_field_tag :search, params[:search], placeholder: "Buscar un tema" %>

            <%= submit_tag "Buscar" %>    
          </div>
        </div>
      <% end %>
      <div class="row small-up-1 medium-up-2 large-up-3">
        <% if @notices %>
          <% @notices.each do |notice| %>
            <div >
            <a class="noticia__image" href="<%= notice.link %>">
              <%= image_tag (notice.image_notice.url) %>  
            </a>

            <%= link_to notice.title, notice %>

            <p><%= notice.date_pub.strftime("Fecha: %d-%m-%Y") %></p>
            
            <p><%= notice.description %></p>

            </div>
          <% end %>
        <% end %>
      </div>
    
      <%= will_paginate(@notices) %>
  </div>
</div>
<%= render "shared/footer" %>
