<%= form_for(@pagefeed) do |f| %>
  <% if @pagefeed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagefeed.errors.count, "error") %> prohibited this pagefeed from being saved:</h2>

      <ul>
      <% @pagefeed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Titulo:<br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    Link:<br>
    <%= f.text_field :link %>
  </div>
  <div class="field">
    Sector:
    <%= f.select :sector_id, options_for_select(Sector.all.map{|s|[s.name, s.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>
