<p id="notice"><%= notice %></p>


<div class="layout">
  <%= render 'shared/nav' %>
  <div class="main">
    <%= link_to 'Atrás', sections_index_path, class: "back-button" %>
    <h1 class="main-headline inline-block">Notificaciones</h1>
    <p>
      <%= link_to 'Nueva Notificación', new_notification_manager_path, class: "btn" %>
    </p>

    <table class="site-table">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Categoría</th>
          <th>Fecha de Publicación</th>
          <th>Sector</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @notification_managers.each do |notification_manager| %>
          <tr>
            <td><%= link_to notification_manager.title, notification_manager %></td>
            <td>
              <% if notification_manager.event %>
                Evento
              <% else %>
                Noticia
              <% end %>
            </td>
            <td><%= notification_manager.date_pub %></td>
            <td>
              <% if notification_manager.sector %>
                <%= notification_manager.sector.name %>
              <% end %>
            </td>
            <td>
              <% if notification_manager.active %>
                Enviado
              <% else %>
                <%=link_to "Enviar notificación", send_notification_path(notificationm_id: notification_manager), method: :post %> 
              <% end %>
            </td>
            <td><%= link_to 'Eliminar', notification_manager, method: :delete, data: { confirm: 'Seguro que desa eliminar?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>