<%= form_for(@type) do |f| %>
  <% if @type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@type.errors.count, "error") %> prohibited this type from being saved:</h2>

      <ul>
      <% @type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Nombre:</strong><br>
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <strong>Subrama:</strong><br>
    <%= f.select :subbranch_id, options_for_select(Subbranch.all.map{|s|[s.name, s.id]}) %>
  </div>
  <div class="field">
    <strong>Código:</strong><br>
    <%= f.number_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
