<p id="notice"><%= notice %></p>


<div class="layout">
  <%= render 'shared/nav' %>
  <div class="main">
    <%= link_to 'Atrás', sections_index_path, class: "back-button" %>
    <h1 class="main-headline inline-block">Clase</h1>
    <p>
      <%= link_to 'Nueva Clase', new_type_path, class: "btn" %>
    </p>


    <table class="site-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Subrama</th>
          <th>Código</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @types.each do |type| %>
          <tr>
            <td><%= link_to type.name, type %></td>
            <td>
              <% if  type.subbranch %>
                <%= type.subbranch.name %>
              <% end %>
            </td>
            <td><%= type.code %></td>
            <td><%= link_to 'Eliminar', type, method: :delete, data: { confirm: 'Estas seguo de eliminarlo??' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>
