<%= form_for(@sector) do |f| %>
  <% if @sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% @sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Nombre</strong><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <strong>Descripción</strong><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <strong>Imagen</strong>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit 'Guardar' %>
  </div>
<% end %>
