<p id="notice"><%= notice %></p>
<%= link_to 'Atrás', sectors_path %>


<p>
  <strong>Nombre:</strong>
  <%= @sector.name %>
  <%= link_to 'Editar', edit_sector_path(@sector) %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @sector.description %>
</p>
<p>
  <strong>Activo:</strong>
  <%= @sector.active %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= image_tag @sector.image.url(:medium) %>
</p>

