<p id="notice"><%= notice %></p>


<div class="layout">
	<%= render 'shared/nav' %>
	<div class="main">
		<%= link_to 'Atrás', sectors_path, class: "back-button" %>

		<h1 class="main-headline inline-block mr-1"><%= @sector.name %></h1>

		
		  <%= link_to 'Editar', edit_sector_path(@sector), class: "btn--gris btn--small" %>
		

		<p>
		  <strong>Descripción:</strong>
		  <%= @sector.description %>
		</p>
		<p>
		  <strong>Activo:</strong>
		  <%= @sector.active %>
		</p>

		<p>
		  <strong>Imagen:</strong><br>
		  <div class="category-title">
			  <%= image_tag @sector.image.url(:medium) %>	
		  </div>
		</p>

		
	</div>
</div>
<%= render "shared/footer" %>