<%= form_for(@user, html: { method: :put }) do |f| %>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :role %><br />
    <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>