<%= form_for(@user, html: { method: :put }) do |f| %>

  <div class="field">
    <strong>Nombre</strong><br />
    <%=@user.name %>
  </div>
  
  <div class="field">
    <strong>Contraseña</strong><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> minimo de caracteres</em>
    <% end %>
  </div>

  <div class="field">
    <strong>Confirmar Contraseña</strong><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div>
    Al cambiar tu contraseña se cerrara automáticamente tu sesión para que se ingrese con la nueva contraseña dada.
  </div>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
  
<% end %>
