<%= form_for(@user, html: { method: :put }) do |f| %>

  <div class="field">
    <strong>Nombre</strong><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <strong>Lugar</strong><br />
    <%= f.text_field :location%>
  </div>

  <div class="field">
    <strong>Número máximo de empresas</strong><br />
    <%= f.text_field :num_max_companies%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>

<% end %>