
<div class="layout">
	<% if current_user.is? 'admin' %>
    	<%= render 'shared/nav' %>
    <% elsif current_user.is? 'emprered' %>
   		<%= render 'shared/nav_emprered' %>
    <% elsif current_user.is? 'agente' %>
    	<%= render 'shared/nav_consultoraie' %>
    <% else%>
    	<%= render 'shared/nav_empresario' %>
  	<% end %>

	<div class="main">
		<div class="form-container">
		<%= link_to 'Atrás', :back, class: "back-button" %>  
		<h1 class="main-headline inline-block">Editar Usuario</h1>

		<%= render 'form_edit_password' %>
		</div>
		
	</div>

</div>



<%= render "shared/footer" %>