
<div class="layout">

    <%= render 'shared/nav' %>


    <div class="main">
        <%= link_to 'Atrás', roles_path, class: "back-button" %>
        <h1 class="main-headline inline-block">Usuarios</h1>

        
            <%= form_tag(index_role_path(role_id:@role),:role_id => @role, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search],placeholder: "Search Posts" %>
              <%= text_field_tag :role_id, @role,placeholder: "Search Posts" %>
              <%= submit_tag "Buscar" %>
            <% end %>
        
        <table class="site-table">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Rol
                    </th>
                    <th>
                        Lugar
                    </th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td>
                            <%= link_to user.name, show_user_admin_path(user) %>  
                        </td>
                        <td>
                            <% if user.role %>
                                <%= user.role.name %>
                            <% end %>
                        </td>
                        <td>
                            <%= user.location %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        
    </div>
</div>

<%= render "shared/footer" %>


