<h2>Olvidaste tu contrase침a??</h2>
<h3>Escribe tu email para iniciar la recuperaci칩n de tu contrase침a</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <h3>Enviaremos un link al mail que proporcionaste donde podras restablecer tu contrase침a </h3>
  
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
  
<% end %>
<%= render "devise/shared/links" %>
