<p id="notice"><%= notice %></p>

<div class="layout">
  <%= render 'shared/nav' %>
  <div class="main">
    <%= link_to 'Atrás', sections_index_path, class: "back-button" %>
    <h1 class="main-headline inline-block">Estados</h1>
    <p>
      <%= link_to 'Nuevo Sector', new_state_path, class: "btn" %>
    </p>
    

    <table class="site-table">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>

      <tbody>
        <% @states.each do |state| %>
          <tr>
            <td data-title="Nombre"><%= link_to state.name, state %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>