<p id="notice"><%= notice %></p>


<div class="layout">
	<%= render 'shared/nav' %>
	<div class="main">
		<%= link_to 'Atrás', states_path, class: "back-button" %>

		<h1 class="main-headline inline-block mr-1"><%= @state.name %></h1>

		
		  <%= link_to 'Editar', edit_state_path(@state), class: "btn--gris btn--small" %>
		
	</div>
</div>
<%= render "shared/footer" %>