<%= form_for(@subsector) do |f| %>
  <% if @subsector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subsector.errors.count, "error") %> prohibited this subsector from being saved:</h2>

      <ul>
      <% @subsector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Código:</strong><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <strong>Nombre:</strong><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <strong>Sector:</strong><br>
    <%= f.select :sector_id, options_for_select(Sector.all.map{|s|[s.name, s.id]}) %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar' %>
  </div>
<% end %>
