<p id="notice"><%= notice %></p>


<div class="layout">
  <%= render 'shared/nav' %>
  <div class="main">
    <%= link_to 'Atrás', sections_index_path, class: "back-button" %>
    <h1 class="main-headline inline-block">Subsectores</h1>
    <p>
      <%= link_to 'Nuevo Subsector', new_subsector_path, class: "btn" %>
    </p>

    <table class="site-table">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Sector</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @subsectors.each do |subsector| %>
          <tr>
            <td data-title="Código">
              <%= subsector.code %>
            </td>
            <td data-title="Nombre">
              <%= link_to subsector.name, subsector %>
            </td>
            <td data-title="Sector">
              <% if subsector.sector %>
                <%= subsector.sector.name %>
              <% end %>
            </td>
            <td><%= link_to 'Eliminar', subsector, method: :delete, data: { confirm: 'Seguro que deseas eliminar?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>
<%= render "shared/footer" %>