<p id="notice"><%= notice %></p>

<h1>Listing Subsectors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subsectors.each do |subsector| %>
      <tr>
        <td><%= subsector.name %></td>
        <td><%= subsector.sector %></td>
        <td><%= link_to 'Show', subsector %></td>
        <td><%= link_to 'Edit', edit_subsector_path(subsector) %></td>
        <td><%= link_to 'Destroy', subsector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subsector', new_subsector_path %>
