<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subsector.name %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @subsector.sector %>
</p>

<%= link_to 'Edit', edit_subsector_path(@subsector) %> |
<%= link_to 'Back', subsectors_path %>
