<%= form_for(@economic_activity) do |f| %>
  <% if @economic_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@economic_activity.errors.count, "error") %> prohibited this economic_activity from being saved:</h2>

      <ul>
      <% @economic_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Nombre:</strong><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar' %>
  </div>
<% end %>
