<div align=center>
	<h1>SITE</h1>
	<h3> 
	Sistema de Inteligencia y Tecnologia Empresarial
	</h3>
	<h3>
    	<%= link_to 'Iniciar Session', new_user_session_path %>
    </h3>
	<table>
		<tr>
			<td>
				<%= link_to 'Quienes somos', about_us_path %>
			</td>
			<td>
				<%= link_to 'Que hacemos', we_do_path %>
			</td>
			<td>
				<%= link_to 'Contacto', new_contact_path %>
			</td>
		</tr>
		<tr>
			<td></td>
			<td><%= link_to 'Aviso de Privacidad', privacy_path %></td>
			<td></td>
		</tr>
	</table>
</div>