<p id="notice"><%= notice %></p>


<div class="layout">
  <%= render 'shared/nav' %>
  <div class="main">
    <%= link_to 'Atrás', companies_path, class: "back-button" %>
    <h1 class="main-headline inline-block">Administración de secciones</h1>
    
    <table class="site-table">
      <thead>
       <tr>
         <th colspan="3">
           Secciones
         </th>
       </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            DIAGNÓSTICOS
          </td>
          <td>
            <%= link_to 'Editar', surveys_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_survey_path, class: "btn--link" %>
            <span class="small-label">Diagnóstico</span>
          </td>
        </tr>
        <tr>
          <td>
            FACTORES
          </td>
          <td>
            <%= link_to 'Editar', categories_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_category_path, class: "btn--link" %>
            <span class="small-label">Factor</span>
          </td>
        </tr>
        <tr>
          <td>
            SECTORES
          </td>
          <td>
            <%= link_to 'Editar', sectors_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_sector_path, class: "btn--link" %>
            <span class="small-label">Sector</span>
          </td>
        </tr>
        <tr>
          <td>
            ACTIVIDADES ECONÓMICAS
          </td>
          <td>
            <%= link_to 'Editar', economic_activities_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nueva', new_economic_activity_path, class: "btn--link" %>
            <span class="small-label">Actividad Económica</span>
          </td>
        </tr>
        <tr>
          <td>
            CALENDARIO
          </td>
          <td>
            <%= link_to 'Editar', events_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_event_path, class: "btn--link" %>
            <span class="small-label">Curso</span>
          </td>
        </tr>
        <tr>
          <td>
            REGIONES
          </td>
          <td>
            <%= link_to 'Editar', regions_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nueva', new_region_path, class: "btn--link" %>
            <span class="small-label">Region</span>
          </td>
        </tr>
        <tr>
          <td>
            MUNICIPIOS
          </td>
          <td>
            <%= link_to 'Editar', municipios_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_municipio_path, class: "btn--link" %>
            <span class="small-label">Municipio</span>
          </td>
        </tr>
        <tr>
          <td>
            ACERCA DE SITE
          </td>
          <td colspan="2">
            <%= link_to 'Editar', edit_login_manager_path(id: @login_manager), class: "btn--link" %>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
<%= render "shared/footer" %>
