<p id="notice"><%= notice %></p>


<div class="layout">
  <%= render 'shared/nav' %>
  <div class="main">
    <%= link_to 'Atrás', companies_path, class: "back-button" %>
    <h1 class="main-headline inline-block">Administración de secciones</h1>
    
    <table class="site-table">
      <thead>
       <tr>
         <th colspan="3">
           Secciones
         </th>
       </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Sección">
            DIAGNÓSTICOS
          </td>
          <td>
            <%= link_to 'Editar', surveys_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_survey_path, class: "btn--link" %>
            <span class="small-label">Diagnóstico</span>
          </td>
        </tr>
        <tr>
          <td>
            FACTORES
          </td>
          <td>
            <%= link_to 'Editar', categories_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_category_path, class: "btn--link" %>
            <span class="small-label">Factor</span>
          </td>
        </tr>
        <tr>
          <td>
            SECTORES
          </td>
          <td>
            <%= link_to 'Editar', sectors_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_sector_path, class: "btn--link" %>
            <span class="small-label">Sector</span>
          </td>
        </tr>
        <tr>
          <td>
            SUBSECTORES
          </td>
          <td>
            <%= link_to 'Editar', subsectors_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_subsector_path, class: "btn--link" %>
            <span class="small-label">Subsector</span>
          </td>
        </tr>
        <tr>
          <td>
            RAMA
          </td>
          <td>
            <%= link_to 'Editar', branches_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nueva', new_branch_path, class: "btn--link" %>
            <span class="small-label">Rama</span>
          </td>
        </tr>
        <tr>
          <td>
            ACTIVIDADES ECONÓMICAS
          </td>
          <td>
            <%= link_to 'Editar', economic_activities_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nueva', new_economic_activity_path, class: "btn--link" %>
            <span class="small-label">Actividad Económica</span>
          </td>
        </tr>
        <tr>
          <td>
            CALENDARIO
          </td>
          <td>
            <%= link_to 'Editar', events_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_event_path, class: "btn--link" %>
            <span class="small-label">Curso</span>
          </td>
        </tr>
        <tr>
          <td>
            REGIONES
          </td>
          <td>
            <%= link_to 'Editar', regions_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nueva', new_region_path, class: "btn--link" %>
            <span class="small-label">Region</span>
          </td>
        </tr>
        <tr>
          <td>
            ESTADO
          </td>
          <td>
            <%= link_to 'Editar', states_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_state_path, class: "btn--link" %>
            <span class="small-label">Estate</span>
          </td>
        </tr>
        <tr>
          <td>
            MUNICIPIOS
          </td>
          <td>
            <%= link_to 'Editar', municipios_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_municipio_path, class: "btn--link" %>
            <span class="small-label">Municipio</span>
          </td>
        </tr>
        <tr>
          <td>
            RSS NOTICIAS
          </td>
          <td>
            <%= link_to 'Editar', pagefeeds_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nuevo', new_pagefeed_path, class: "btn--link" %>
            <span class="small-label">RSS de noticias</span>
          </td>
        </tr>
        <tr>
          <td>
            NOTICIAS
          </td>
          <td>
            <%= link_to 'Editar', notices_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nueva', new_notice_path, class: "btn--link" %>
            <span class="small-label">Noticia</span>
          </td>
        </tr>
        <tr>
          <td>
            NOTIFICACIONES
          </td>
          <td>
            <%= link_to 'Editar', notification_managers_path, class: "btn--link" %>
          </td>
          <td>
            <%= link_to 'Crear Nueva', new_notification_manager_path, class: "btn--link" %>
            <span class="small-label">Notificación</span>
          </td>
        </tr>
        <tr>
          <td>
            ACERCA DE SITE
          </td>
          <td colspan="2">
            <%= link_to 'Editar', edit_login_manager_path(id: @login_manager), class: "btn--link" %>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
<%= render "shared/footer" %>
