<p id="notice"><%= notice %></p>


<%= link_to 'Atrás', companies_path, class: "back-button" %>
<h1 class="main-headline inline-block">Lista de Cursos</h1>
<br>
<%= link_to 'Nuevo Curso', new_event_path %>
<br>
<br>
<table class="site-table">
  <thead>
	<tr>
	  <th>Curso</th>
	  <th>Fecha inicio</th>
	  <th>Fecha Fin</th>
	  <th>Expositor</th>
	  <th>Level</th>
	  <th>Horario</th>
	  <th>Costo</th>
	  <th colspan="3"></th>
	</tr>
  </thead>

  <tbody>
	<% @events.each do |event| %>
	  <tr>
		<td><%= link_to event.title, edit_event_path(event) %></td>
		<td><%= event.start_at %></td>
		<td><%= event.end_at %></td>
		<td><%= event.name_exhibitor %></td>
		<td>
			<% if event.level%>
				<%= event.level.title %>
			<% end %>
		</td>
		<td><%= event.hours %></td>
		<td><%= event.price %></td>
		<td><%= link_to 'Eliminar', event, method: :delete, data: { confirm: 'Seguro que deseas eliminarlo?' } %></td>
	  </tr>
	<% end %>
  </tbody>
</table>


<br>
<div id="calendar"> </div>
<script>
	var todayDate = new Date();
  todayDate.setHours(0,0,0,0);
  $('#calendar').fullCalendar({
	events: <%= @events.to_json.html_safe %>,
	monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
	monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'],
    columnFormat: {
      month: 'dddd',
      week: 'dddd d',
      day: 'ddd'
    },
    buttonText: {
      today: 'Hoy',
      month: 'month',
      week: 'week',
      day: 'day'
    },
    minTime: "08:00:00",
    maxTime: "23:00:00",
    header: {
      left: 'prev,next today',
      center: 'title',
      right: ''
    },
    firstDay: 1,
    //this section is triggered when the event cell it's clicked
        selectable: true,
    selectHelper: true,
    select: function(start, end) {
      var user_name;
      user_name = prompt("User name: ");
      var eventData;
      //this validates that the user must insert a name in the input
      if (user_name) {
        eventData = {
          title: "Reserved",
          start: start,
          end: end,
          user_name: user_name
        };
        //here i validate that the user can't create an event before today
        if (eventData.start < todayDate){
          alert("You can't choose a date that already past.");
          $("#calendar").fullCalendar("unselect");
          return
        }
        //if everything it's ok, then the event is saved in database with ajax
        $.ajax({
          url: "events",
          type: "POST",
          data: eventData,
          dataType: 'json',
          success: function(json) {
            alert(json.msg);
            $("#calendar").fullCalendar("renderEvent", eventData, true);
            $("#calendar").fullCalendar("refetchEvents");
          }
        });
      }
      $("#calendar").fullCalendar("unselect");
    },
    allDaySlot: false,
    height: 500,
    slotMinutes: 30,
   
    timeFormat: 'h:mm t{ - h:mm t} ',
    dragOpacity: "0.5"
  });
</script>

