<p id="notice"><%= notice %></p>

<div class="layout">

  <% if current_user.is? 'admin' %>
    <%= render 'shared/nav' %>
  <% else %>
    <%= render 'shared/nav_empresario' %>
  <% end %>
  
  
  <div class="main">
    <p>
      <strong>Nombre del evento:</strong>
      <%= @event.title %>
    </p>

    <p>
      <strong>Fecha inicio:</strong>
      <%= @event.start_at %>
    </p>

    <p>
      <strong>Fecha fin:</strong>
      <%= @event.end_at %>
    </p>

    <p>
      <strong>Expositor:</strong>
      <%= @event.name_exhibitor %>
    </p>

    <p>
      <strong>Nivel:</strong>
      <%= @event.level.title %>
    </p>

    <p>
      <strong>Hora:</strong>
      <%= @event.hours %>
    </p>

    <p>
      <strong>Precio:</strong>
      <%= @event.price %>
    </p>

    <p>
      
    </p>
    <% if can? :update, @event %>
      <%= link_to 'Editar', edit_event_path(@event), class: "btn" %>
    <% end %>
    <%= link_to 'Atras', events_path, class: "btn" %>

  </div>
</div>
<%= render "shared/footer" %>

