<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Empresa:
    <%= f.text_field :company_name %>
  </div>

  <div class="field">
    Logo:
    <%= f.file_field :image_logo %>
  </div>

  <div class="field">
    Dirección:
    <%= f.text_field :address %>
  </div>
  <div class="field">
    Teléfono convencional:
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    Email:
    <%= f.text_field :email %>
  </div>
  <div class="field">
    Representante:
    <%= f.text_field :name_agent %>
  </div>
  
  <div class="field">
    Actividad Económica:
    <%= f.select :activity_id, options_for_select(EconomicActivity.all.map{|s|[s.name, s.id]}) %>
  </div>
  
  <div class="field">
    Sector:
    <%= f.select :sector_id, options_for_select(Sector.all.map{|s|[s.name, s.id]}) %>

    <div id="sector-cool" class="sector-cool">
      <% Sector.all.each do |sector| %>
        <div class="sector-cool__item" data-val="<%= sector.id %>">
          <%= image_tag (sector.image.url(:thumb)) %>
          <%= sector.name %>
        </div>
      <% end %>
    </div><!-- .sector-cool -->
  </div>
  <hr/>
  <h2>Crear cuenta de usuario</h2>
  <div class="field">
    Nombre de usuario:
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Email usuario:
    <%= f.text_field :email_user %>
  </div>

  <div class="actions">
    <%= f.submit 'Guardar', class: 'submit-btn' %>
  </div>
<% end %>
