<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4 class="title-line">Registro en SITE</h4>

  <div class="field">
    <strong>Tipo de empresa:</strong><br>
    <%= f.text_field :company_type %>
  </div>
  <div class="field">
    <strong>RFC:</strong><br>
    <%= f.text_field :vat %>
  </div>
  <div class="field">
    <strong>Calle:</strong><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <strong>Colonia:</strong><br>
    <%= f.text_field :street2 %>
  </div>
  <div class="field">
    <strong>Municipio:</strong><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <strong>Celular:</strong><br>
    <%= f.text_field :cel %>
  </div>
  <div class="field">
    <strong>Fecha de inicio de operaciones:</strong><br>
    <%= f.date_select :date_start %>
  </div>
  <div class="field">
    <strong>Giro de la empresa:</strong><br>
    <%= f.text_field :line_business %>
  </div>
  <div class="field">
    <strong>Número de Personas:</strong><br>
    <%= f.number_field :num_workers %>
  </div>
  <div class="field">
    <strong>Ventas anuales:</strong><br>
    <%= f.text_field :annual_sales %>
  </div>
  <div class="field">
    <strong>Historia de la empresa:</strong><br>
    <%= f.text_area :company_history %>
  </div>
  <div class="field">
    <strong>Productos que genera:</strong><br>
    <%= f.text_field :company_products %>
  </div>
  <div class="field">
    <strong>Mercados atendios:</strong><br>
    <%= f.text_field :company_market %>
  </div>
  <div class="field">
    <strong>Problemas de la empresa:</strong><br>
    <%= f.text_field :company_problems %>
  </div>
  <div class="field">
    <strong>Nombre del Director:</strong><br>
    <%= f.text_field :name_director %>
  </div>
  <div class="field">
    <strong>Personal entrevistado:</strong><br>
    <%= f.text_field :staff_interviewed %>
  </div>
  <div class="field">
    <strong>Periodo del Diagnóstico:</strong><br>
    <%= f.text_field :survey_period %>
  </div>
  <div class="field">
    <strong>Nombre de quien elaboró el reporte inicial:</strong><br>
    <%= f.text_field :name_created %>
  </div>


  <div class="actions">
    <%= link_to 'Cancelar', :back, class: "btn--red" %> 
    <%= f.submit 'Guardar' %>
  </div>
<% end %>
