<p id="notice"><%= notice %></p>

<h1>Status de empresas y consultores</h1>

<br>
<div>
  <% if can? :create, Company %>
    <%= link_to 'New Company', new_company_path %>
  <% end %>
  <% if can? :create, @sectors %>
    <%= link_to 'Sectores', sectors_path %>
  <% end %>
  <% if can? :create, @users %>
    <%= link_to 'Usuarios', users_path %>
  <% end %>
</div>
<div>
  <%= form_tag(companies_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<div>
  <br>
  <table>
    <thead>
      <tr>
        <th>Nombre de Empresa</th>
        <th>Estado</th>
        <th>Etapa</th>
        <th>Fecha</th>
        <th>Sector</th>
        <th>Consultor Emprered</th>
        <th>Consultor AE</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <% if can? :read, company %>
          <tr>
            <td><%= link_to company.company_name, show_general_path(id:company) %></td>
            <td><%= company.state %></td>
            <td><%= company.stage %></td>
            <td>
              <%= company.date_start %>
              <%= company.date_end %>
            </td>
            <td>
              <% if company.sector %>
                <%= company.sector.name %>
              <% end %>
            </td>
            <td>
              <% if company.emprered %>
                <% if current_user.is? 'admin' %>
                  <%= link_to company.emprered.name, show_user_admin_path(company.emprered) %> 
                <% else %>
                  <%= company.emprered.name %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if company.agent %>
                <% if current_user.is? 'admin' %>
                  <%= link_to company.agent.name, show_user_admin_path(company.agent) %> 
                <% else %>
                  <%= company.agent.name %>
                <% end %>
              <% end %>
            </td>
            <td></td>
            <td>
            <% if current_user.is? 'admin' %>
              <%= link_to 'AsignarA', edit_asign_agent_path(company) %> 
              <%= link_to 'AsignarE', edit_asign_emprered_path(company) %> 
            <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
  </div>
