<p id="notice"><%= notice %></p>

<h1>Status de empresas y consultores</h1>

<br>
<table align="center">
  <tr>
    <td align="right">
      <% if can? :create, @roles %>
        <%= link_to 'Roles', roles_path %>
      <% end %>
    </td>
    <td align="right">
      <% if can? :create, @sectors %>
        <%= link_to 'Sectores', sectors_path %>
      <% end %>
    </td>
    <td align="right">
      <% if can? :create, @users %>
        <%= link_to 'Dar de alta nuevo consultor', users_path %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
      <div align="right">
        <%= form_tag(companies_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
          <%= submit_tag "Buscar" %>
        <% end %>
      </div>
    </td>
  </tr>
</table>

<br>

<div div align="center">
  <table>
    <thead>
      <tr>
        <th>Nombre de Empresa</th>
        <th>Estado</th>
        <th>Etapa</th>
        <th>Fecha</th>
        <th>Sector</th>
        <th>Consultor Emprered</th>
        <th>Consultor AE</th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <% if can? :read, company %>
          <tr>
            <td><%= link_to company.company_name, show_general_path(id:company) %></td>
            <td><%= company.state %></td>
            <td><%= company.stage %></td>
            <td>
              <%= company.date_start %>
              <%= company.date_end %>
            </td>
            <td>
              <% if company.sector %>
                <%= company.sector.name %>
              <% end %>
            </td>
            <td>
              <% if current_user.is? 'admin' %>
                <% if company.state == 'Nuevo' %>
                  <% if company.emprered %>
                    <%= link_to company.emprered.name, show_user_admin_path(company.emprered) %>
                    <br> 
                    <%= link_to 'Cambiar Consultor', edit_asign_emprered_path(company) %>
                  <% else %>
                    <%= link_to 'Asignar', edit_asign_emprered_path(company) %>
                  <% end %>
                <% elsif company.state == 'Terminado' %>
                  <%= link_to company.emprered.name, show_user_admin_path(company.emprered) %> 
                <% end %>
              <% else %>
                <% if company.emprered %>
                  <%= company.emprered.name %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% if current_user.is? 'admin' %>
                <% if company.state == 'Nuevo' %>
                  <% if company.agent %>
                    <%= link_to company.agent.name, show_user_admin_path(company.agent) %>
                  <% end %>
                  Aún no se llega a etapa de análisis de diagnóstico
                <% elsif company.state == 'Retrasado' %>
                  <% if company.agent %>
                    <%= link_to company.agent.name, show_user_admin_path(company.agent) %>
                    <%= link_to 'Cambiar Consultor', edit_asign_agent_path(company) %>
                  <% else %>
                    Aún no se llega a etapa de análisis de diagnóstico
                  <% end %>
                <% elsif company.state == 'Terminado' %>
                  <%= link_to company.agent.name, show_user_admin_path(company.agent) %>
                <% else %>
                  <% if company.agent %>
                    <%= link_to company.agent.name, show_user_admin_path(company.agent) %>
                    <%= link_to 'Cambiar Consultor', edit_asign_agent_path(company) %>
                  <% else %>
                    <%= link_to 'Asignar', edit_asign_agent_path(company) %> 
                  <% end %>
                <% end %>
              <% else %>
                <% if company.agent %>
                  <%= company.agent.name %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
  </div>
