<p id="notice"><%= notice %></p>

<h1>Lista de Empresas</h1>

<br>

<table>
  <tr>
    <td>
      <% if can? :create, Company %>
        <%= link_to 'New Company', new_company_path %>
      <% end %>
      <% if can? :create, @sectors %>
        <%= link_to 'Sectores', sectors_path %>
      <% end %>
      <% if can? :create, @users %>
        <%= link_to 'Usuarios', users_path %>
      <% end %>
    </td>
    <td>
      <%= form_tag(companies_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <%= submit_tag "Search" %>
      <% end %>
    </td>
  </tr>
</table>
<br>

<table>
  <thead>
    <tr>
      <th>Nombre de Empresa</th>
      <th>Direccion</th>
      <th>Telefono convencional</th>
      <th>Email</th>
      <th>Representante</th>
      <th>Sector</th>
      <th>Usuario</th>
      <th>Email Usuario</th>
      <th>Activo</th>
      <th>Encargado</th>
      <th>Estado</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <% if can? :read, company %>
        <tr>
          <td><%= link_to company.company_name, company %></td>
          <td><%= company.address %></td>
          <td><%= company.phone %></td>
          <td><%= company.email %></td>
          <td><%= company.name_agent %></td>
          <td>
            <% if company.sector %>
              <%= company.sector.name %>
            <% end %>
          </td>
          <td><%= company.name %></td>
          <td><%= company.email_user %></td>
          <td><%= company.active %></td>
          <td>
            <% if company.agent %>

              <% if current_user.is? 'admin' %>
                <%= link_to company.agent.name, show_user_admin_path(company.agent) %> 
              <% else %>
                <%= company.agent.name %>
              <% end %>
            <% end %>
          </td>
          <td><%= company.state %></td>
          <td>
            <%= link_to 'Asignar', edit_asign_agent_path(company) %> 
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>
