<p id="notice"><%= notice %></p>

<div class="layout">

  <%= render 'shared/nav' %>

  <div class="main">

  	<div class="form-container">
  		
  		<%= link_to 'Back', index_emprered_path, class: "back-button" %>
	 	<h1 class="main-headline inline-block">
	 		Alta de la empresa
	 	</h1>

		<%= render 'form_new' %>

	</div>

  </div><!-- .main -->

</div><!-- .layout -->


<%= render "shared/footer" %>