<!doctype html>
<html>

	<head>
		<title></title>

		<meta charset="utf-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css">

    <%= wicked_pdf_stylesheet_link_tag 'pdf' %>

    <style>
      body {
        padding-left: .618rem;
        padding-right: .618rem;
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <script type="text/javascript">

      google.load("visualization", "1", {packages:["corechart"]});

      google.setOnLoadCallback(drawCharts);

      function drawCharts() {

        var $chartIndividual = $('.js-chart-category');

        if ($chartIndividual.length) {

          $chartIndividual.each(function() {

            var data = new google.visualization.DataTable();

            data.addColumn('string', 'Category');

            data.addColumn('number', 'Points');

            // console.log($(this).data('rows'));

            data.addRows($(this).data('rows'));

            var options = {
              colors:['#22A89E','#E6E7E9'],
              legend: {
                position: 'none'
              }
            };

            var chart = new google.visualization.PieChart(this);

            chart.draw(data, options);  

          });

        }

      }

    </script>

	</head>
	
  <body class="wicked-pdf">
  
  	<div class="cover">

      <div class="cover-content">
        <figure class="text-center">
          <%= wicked_pdf_image_tag "logotipo-header.png" %>  
        </figure>
        <br><br><br><br>
        <h3 class="main-headline text-left">Sistema de Inteligencia y Tecnología Empresarial</h3>
        <br><br>
        <h4><%= @company.company_name %></h4>  
        <p class="color-green lead">Reporte preliminar de Inteligencia Competitiva</p>
	<p class="color-green lead"><%= @survey_analysis.date_print %></p>
      </div><!-- .cover-content -->
  		
  	</div><!-- .cover -->

  	<div class="alwaysbreak"></div>

    <p><strong>SE CREA LA&nbsp; AGENCIA </strong></p>

    <p>Como un puente de comunicaci&oacute;n entre los actores del &aacute;mbito acad&eacute;mico, empresarial, gubernamental, sociedad civil organizada y las empresas locales para facilitar el flujo de conocimiento, agregando valor a sus asociados para la generaci&oacute;n y aplicaci&oacute;n de acciones en beneficio directo de las empresas hidalguenses.</p>
    <br>

    <p><strong>EMPRESAS ATENDIDAS</strong></p>

    <p>Actualmente se desarrollan las capacidades de gesti&oacute;n de proyectos de innovaci&oacute;n de <%= @survey_analysis.num_company %> empresas de los sectores metalmec&aacute;nico y textil-confecci&oacute;n para conservar, <%= @survey_analysis.num_jobs %> empleos y generar cuando menos <%= @survey_analysis.create_jobs %>.</p>
    <br>

    <p><strong>BENEFICIOS EMPRESARIALES</strong></p>

    <p>Las empresas atendidas por la Agencia son beneficiadas con una serie de servicios electr&oacute;nicos que le permitir&aacute;n al empresario desarrollar sus capacidades de innovaci&oacute;n para impulsar estrategias diferenciadoras de sus competidores en procesos y productos basados en Inteligencia competitiva.</p>
    <br>

    <p><strong>SERVICIOS ELECTR&Oacute;NICOS PARA PYMES/ &nbsp;PLATAFORMA TECNOLOGICA</strong></p>

    <p>A trav&eacute;s de la Plataforma tecnol&oacute;gica dispuestas en Internet, la Agencia ofrece 4 productos y servicios de:</p>

    <ol>
      <li><strong>Inteligencia Competitiva</strong></li>
    </ol>

    <ul style="list-style-type:circle;">
      <li>Para identificar Distribuidores, proveedores, clientes&nbsp; y&nbsp; competidores.</li>
      <li>Distribuci&oacute;n de Unidades Econ&oacute;micas por Municipio</li>
      <li>Total de empresas de los sectores Textil y Metalmec&aacute;nica</li>
    </ul>

    <ol>
      <li value="2"><strong>Gesti&oacute;n para la innovaci&oacute;n</strong></li>
    </ol>

    <ul>
      <li>
      <ul style="list-style-type:circle;">
        <li>Ideas</li>
        <li>Proyectos</li>
        <li>Foros</li>
        <li>Agenda</li>
        <li>B&uacute;squedas</li>
      </ul>
      </li>
    </ul>

    <ol>
      <li value="3"><strong>Observatorio Empresarial</strong></li>
    </ol>

    <ul style="list-style-type:circle;">
      <li>Repositorio de estudios, investigaciones, art&iacute;culos, etc.</li>
    </ul>

    <ol>
      <li value="4"><strong>AIE Alertas</strong></li>
    </ol>

    <ul style="list-style-type:circle;">
      <li>Sistema de noticias para el monitoreo de la actividad empresarial global.</li>
    </ul>
    <br>

    <p><strong>COBERTURA DE ATENCI&Oacute;N</strong></p>

    <p>Los servicios de la Agencia se ofrecen en las <%= @survey_analysis.num_emprered %> oficinas de EmpreReds y los &ldquo;Puntos&nbsp; Mover a M&eacute;xico&rdquo; localizadas en las regiones estrat&eacute;gicas del estado.</p>
    <br>

    <p><strong>INFRAESTRUCTURA TECNOL&Oacute;GICA</strong></p>

    <ul>
      <li>Plataforma en l&iacute;nea: <a href="http://www.aie.org.mx/">www.aie.org.mx</a></li>
    </ul>

    <ul>
      <li>Se han puesto en marcha <%= @survey_analysis.num_electronic_kiosk %> kioscos electr&oacute;nicos&nbsp; que ofrecen estos servicios.
      <ul style="list-style-type:circle;">
        <li>Uno se encuentra en el Parque Cient&iacute;fico y Tecnol&oacute;gico y forma parte del ecosistema de operado por el CITNOVA.</li>
      </ul>
      </li>
    </ul>

    <ul style="list-style-type:circle;">
      <li>Otro kiosco se encuentra en el Instituto Hidalguense de Competitividad Empresarial.</li>
    </ul>

    <p><%= wicked_pdf_image_tag @survey_analysis.user_company.company.image_logo.url(:medium) %></p>
    <h5><%= @survey_analysis.user_company.company_name %><br></h5>
    <strong><%= @survey_analysis.user_company.company.name_director %><br></strong>
    
    Director de la empresa<br><br>

    <p>El diagn&oacute;stico de inteligencia competitiva tiene como principal objetivo conocer el la situaci&oacute;n general de la organizaci&oacute;n &oacute; empresa que sirva como precedente en la toma de decisiones.</p>

    <p><strong><%= @survey_analysis.user_company.company.name_director %></strong> en su calidad de <strong>Director de la empresa de <%= @survey_analysis.user_company.company_name %></strong> comparti&oacute; su experiencia y conocimientos sobre los procesos transversales de la organizaci&oacute;n y expuso su visi&oacute;n y alcances que tendr&aacute;n los planes de mejora a implementarse en el corto y mediano plazo.</p>

    <p>Desde la Agencia de Innovaci&oacute;n Empresarial reafirmamos nuestro compromiso con <strong><%= @survey_analysis.user_company.company_name %></strong> en el desarrollo de acciones y proyectos que beneficien a la empresa.</p>

    <p>El presente reporte permitir&aacute;&nbsp; a esta empresa tener informaci&oacute;n clave que contribuya a generar acciones con prop&oacute;sitos anticipatorios.</p>

    <p>A continuaci&oacute;n se muestran los resultados derivados de la aplicaci&oacute;n del diagn&oacute;stico&nbsp;</p>

    <div class="alwaysbreak"></div>
    
    <h2 class="main-headline">DIAGNÓSTICO</h2><br>

    <% @categories.each do |category| %>

      <h3 class="title-line category-title">
        <%= wicked_pdf_image_tag category.icon.url(:medium) %><%= category.title %>
      </h3>  

      <div class="row">

        <div class="medium-5 columns"> 

          <div id="category-#<%= category.id %>" class="js-chart-category" data-rows='[["Obtenido", <%= category.grade_obtained(reply: @survey_analysis.reply.id) %>], ["No obtenido", <%= category.grade_total - category.grade_obtained(reply: @survey_analysis.reply.id) %>]]' style="width: 200px; height: 250px;"></div>

          <div class="general-details">
            <h5>DETALLE</h5>
        
            <h6><small>PUNTAJE OBTENIDO</small></h6>
            <strong><%= category.grade_obtained(reply: @survey_analysis.reply.id) %> pts.</strong>
            
            <h6><small>PUNTAJE IDEAL</small></h6>

            <strong><%= category.grade_total %> pts. 100%</strong>
          </div>

        </div><!-- .medium-5 -->

        <div class="medium-7 columns">

          <% @count_question = 0 %>
          <% @survey_analysis.reply.answers.each do |answer| %>
            <% if answer.question.category.id == category.id %>
              <% @count_question = @count_question + 1 %>
                
              <div class="question-item">
                <p>
                  <strong><%= @count_question %>.- <%= answer.question.title %></strong>
                  <% if current_user.is? 'admin' or current_user.is? 'agente' %>
                  <small class="hide">
                    Puntaje: <mark><%= answer.grade %> / <%= answer.question.grade %></mark></small>
                  <% end %>

                </p>
   
                <%= answer.title %>

                <p class="color-green bolder hide">Solución:</p>
                <p class="hide"><%= answer.solution %></p>

              </div><!-- .question-item -->
              
            <% end %>
          <% end %>            
        </div><!-- .medium-7 -->
        
      </div><!-- .row -->

      <div class="alwaysbreak"></div>
      
    <% end %>

    <h2 class="main-headline">HALLAZGOS Y RECOMENDACIONES</h2><br>

    <p>
      <h5>Organizacional:</h5>
      <%= @survey_analysis.organizational %>
    </p>
    <br>
    <p>
      <h5>Gestión de Innovación:</h5>
      <%= @survey_analysis.innovation_management %>
    </p>
    <br>  
    <p>
      <h5>Innovación:</h5>
      <%= @survey_analysis.innovation %>
    </p>
    <br>
    <p>
      <h5>Capacidades Gremiales:</h5>
      <%= @survey_analysis.guilds %>
    </p>
    <br>
    <p>
      <h5>Capacidades Copentenciales:</h5>
      <%= @survey_analysis.copetential %>
    </p>
    <div class="alwaysbreak"></div>
    <h2 class="main-headline">Cursos</h2>
    <% @events.keys.each do |keys| %>
      <h3><%= keys %></h3>
      <hr>
      <% @events[keys].each do |event| %>
      <p>
      <div>
        <span style="width: 20px; display: inline-block;">
          <%= wicked_pdf_image_tag event.level.image.url(:medium) %>  
        </span>
        <%= event.title %>
        <div style="height: 10px;"></div>
        <%= event.name_exhibitor %><br>
        <%= event.price %><br>
      </div>
      <div>
        Fecha del evento<br>
        <%= event.start_at %><br>
      </div>
      </p>
      <hr>
      <% end %>
    <% end %>

  </body>
</html>
