<p id="notice"><%= notice %></p>
<div>
<% @states = ['Terminado']%>
<%= link_to 'Atrás', companies_path %>
<h1><%= @company.company_name %></h1>
</div>
<br>
<h2>General</h2>

<h3>Acerca de la empresa</h3>
<p>
  <strong>Empresa:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Etapa:</strong>
  <%= @company.stage %>
</p>

<p>
  <strong>Industria (Sector):</strong>
  <% if @company.sector %>
    <%= @company.sector.name %>
  <% end %>
</p>

<p>
  <strong>Consultor Emprered:</strong>
  <% unless @states.include?(@company.state) %>
    <% if @company.emprered %>
      <%= @company.emprered.name %>
      <%= link_to 'Cambiar Consultor', edit_asign_emprered_path(@company) %>
    <% else %>
      <%= link_to 'Asignar', edit_asign_emprered_path(@company) %>
    <% end %>
  <% else %>
    <%= @company.emprered.name %>
  <% end %>
  
</p>

<p>
  <strong>Consultor AIE:</strong>
  <% if @company.state == 'Nuevo' %>
    Aún no se llega a etapa de análisis de diagnóstico
  <% elsif @company.state == 'Retrasado' %>
    <% if @company.agent %>
      <%= @company.agent.name %>
      <%= link_to 'Cambiar Consultor', edit_asign_agent_path(@company) %>
    <% else %>
      Aún no se llega a etapa de análisis de diagnóstico
    <% end %>
  <% elsif @company.state == 'Terminado' %>
    <%= @company.agent.name %>
  <% else %>
    <% if @company.agent %>
      <%= @company.agent.name %>
      <%= link_to 'Cambiar Consultor', edit_asign_agent_path(@company) %>
    <% else %>
      <%= link_to 'Asignar', edit_asign_agent_path(@company) %> 
    <% end %>
  <% end %>
</p>

<h2>Rol</h2>
<p>
    <strong>Rol:</strong>
    <%= @company.role %>
</p>

