<div align="center">
  <h1>SITE</h1>
  <h3> 
    Sistema de Inteligencia y Tecnologia Empresarial
  </h3>
  <h2>Iniciar sesión</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div align="center">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <!-- No se pide recordarme
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
    -->
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Olvidaste tu contraseña?", new_password_path(resource_name) %><br />
    <% end -%>

    <table>
      <tr>
        <td>
          <%= link_to 'Quienes somos', about_us_path %>
        </td>
        <td>
          <%= link_to 'Que hacemos', we_do_path %>
        </td>
        <td>
          <%= link_to 'Contacto', new_contact_path %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= link_to 'Aviso de Privacidad', privacy_path %></td>
        <td></td>
      </tr>
    </table>

  </div>
<% end %>

<%= render "devise/shared/links" %>
