<p id="notice"><%= notice %></p>

<%= link_to 'Atrás', companies_path %>
<h1>Diagnósticos</h1>
<%= link_to 'Crear Nuevo Diagnóstico', new_survey_path %>
<br>
<table>
  <thead>
    <tr>
      <th>Diagnóstico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr id="<%= dom_id(survey) %>">
        <td><%= link_to survey.title , survey %></td>
        <td><%= link_to 'Preguntas', survey_questions_path(survey) %></td>
        <td><%= link_to 'Encuestas respondidas', survey_replies_path(survey) %></td>
        <td><%= link_to 'Eliminar', survey, method: :delete, data: { confirm: '¿Estas seguro de eliminarlo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


