<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Acerca del rol</h3>

  <div class="field">
    <strong>Nombre</strong><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <strong>Descripción</strong><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <strong>Permiso del rol</strong><br>
    <% Role::ROLES.each do |role_name| %>
      <label>
          <%= f.radio_button(:role, role_name) %>
          <% if role_name == 'admin'%>
            Administrador
          <% elsif  role_name == 'agente' %>
            AgenteAE
          <% elsif  role_name == 'emprered' %>
            Emprered
          <% elsif  role_name == 'company' %>
            Compañia
          <% else %>
            Otro
          <% end %>
          <br>
      </label>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Crear" %>
  </div>
  
<% end %>