<p id="notice"><%= notice %></p>

<div class="layout">

  <%= render 'shared/nav' %>
  
  <div class="main">

    <%= link_to 'Atrás', companies_path, class: "back-button" %>
    <h1 class="main-headline inline-block">Roles</h1>

    <p>
      <%= link_to 'Crear nuevo rol', new_role_path, class: "btn" %>
    </p>
    

    <table class="site-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Usuarios</th>
        </tr>
      </thead>

      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td data-title="Nombre"><%= link_to role.name, role_path(role) %></td>
            <td data-title="Descripción"><%= role.description %></td>
            <td data-title="Usuarios">
              <%= link_to role.get_user_by_role(role), index_role_path(role_id:role) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<%= render "shared/footer" %>

