<p id="notice"><%= notice %></p>

<div class="layout">

  <%= render 'shared/nav' %>
  
  <div class="main">

    <%= link_to 'Atrás', sections_index_path, class: "back-button" %>
    <h1 class="main-headline inline-block">Factores</h1>

    <p>
    <%= link_to 'Nuevo Factor', new_category_path, class: "btn" %>
    </p>

    <table class="site-table">
      <thead>
        <tr>
          <th>Icono</th>
          <th>Factor</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr id="<%= dom_id(category) %>">
            <td class="icono-container"><%= image_tag category.icon.url(:medium) %></td>
            <td data-title="Factor"><%= link_to category.title , category %></td>
            <td><%= link_to 'Eliminar', category, method: :delete, data: { confirm: '¿Estas seguro de eliminar?' }, class: "btn--red" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>

<%= render "shared/footer" %>

