<p id="notice"><%= notice %></p>

<div class="layout">

  <%= render 'shared/nav' %>
  
  <div class="main">

    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <p>
      <strong class="color-blue">Icono del Factor:</strong><br>
      <div class="category-title">
        <%= image_tag @category.icon.url(:medium) %>  
      </div>
    </p>

    <p>
      <strong class="color-blue">Factor:</strong>
      <%= @category.title %>
    </p>
    
    <p>
      <strong class="color-blue">Color:</strong>
      <%= @category.color %>
    </p>

    <%= link_to 'Editar', edit_category_path(@category), class: "btn" %> |
    <%= link_to 'Atrás', categories_path, class: "btn" %>
   
    
  </div>
</div>

<%= render "shared/footer" %>



