<%= form_for(@event_monitor) do |f| %>
  <% if @event_monitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_monitor.errors.count, "error") %> prohibited this event_monitor from being saved:</h2>

      <ul>
      <% @event_monitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong>Nombre del evento</strong><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <strong>Fecha inicio</strong><br>
    <%= f.datetime_select :start_at %>
  </div>
  <div class="field">
    <strong>Fecha Fin</strong><br>
    <%= f.datetime_select :end_at %>
  </div>
  <div class="field">
    <strong>Dirección</strong><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <strong>Sitio Web</strong><br>
    <%= f.text_field :website %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar'%>
  </div>
<% end %>
