<p id="notice"><%= notice %></p>

<div class="layout">

  <%= render 'shared/nav' %>
  
  <div class="main">
    <%= link_to 'Atrás', event_monitors_path, class: "back-button" %>
    <h1 class="main-headline inline-block"><%= @event_monitor.title %></h1>

    <p class="color-gray">
      <strong class="color-blue">Fecha inicio:</strong>
      <%= @event_monitor.start_at %>
    </p>

    <p class="color-gray">
      <strong class="color-blue">Fecha fin:</strong>
      <%= @event_monitor.end_at %>
    </p>

    <p class="color-gray">
      <strong class="color-blue">Dirección:</strong>
      <%= @event_monitor.address %>
    </p>

    <p class="color-gray">
      <strong class="color-blue">Sitio web:</strong>
      <%= @event_monitor.website %>
    </p>
    <% if can? :update, @event_monitor %>
        <%= link_to 'Editar', edit_event_monitor_path(@event_monitor), class: "btn" %>
    <% end %>

  </div>
</div>
<%= render "shared/footer" %>