<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<title>SITE / Instituto Hidalguense de Competitividad Empresarial</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= favicon_link_tag 'favicon.png' %>
  	<%= csrf_meta_tags %>
  	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.4-rc2/foundation.min.css">
	<% if current_user %>
		<div class="site-header">
			<div class="site-header__logo">

				<% if current_user.is? 'admin' %>
					<%= link_to companies_path do %>
						<%= image_tag "site-logotipo-color.png" %>	
					<% end %>
				<% elsif current_user.is? 'emprered' %>
					<%= link_to index_emprered_path do %>
						<%= image_tag "site-logotipo-color.png" %>	
					<% end %>
				<% elsif current_user.is? 'agenteae' %>
					<%= link_to index_agenteae_path do %>
						<%= image_tag "site-logotipo-color.png" %>	
					<% end %>			
				<% elsif current_user.is? 'company' %>
					<%= link_to index_company_path do %>
						<%= image_tag "site-logotipo-color.png" %>	
					<% end %>
				<% end %>

			</div><!-- .site-header__logo -->
			
			<div class="header-actions">

				<span class="header-actions__item header-actions__item--dashboard">
					<% if current_user.is? 'admin' %>
						<%= link_to 'DASHBOARD', companies_path %>
					<% elsif current_user.is? 'emprered' %>
						<%= link_to 'DASHBOARD', index_emprered_path %>
					<% elsif current_user.is? 'agente' %>
						<%= link_to 'DASHBOARD', index_agenteae_path %>
					<% elsif current_user.is? 'company' %>
						<% if current_user.company.done %>
				          <% if current_user.company.stage == 'Reporte' %>
				            <%= link_to 'DASHBOARD', results_company_path %>
				          <% else %>
				            <%= link_to 'DASHBOARD', index_company_path %>
				          <% end %>
				        <% else %>
				          <%= link_to 'DASHBOARD', index_company_path %>
				        <% end %>
					<% end %>
				</span><!-- .header-actions__item -->

				<span id="profile-menu" class="header-actions__item header-actions__item--dropdown">
					<div>
						<span>Hola <em><%= current_user.name %><br>(<%=current_user.email%>)</em></span>
						<ul id="drop-down-menu" class="header-dropdown">
							<% unless current_user.is? 'company' %>
								<li class="header-dropdown__item header-dropdown__item--profile">
									<%= link_to 'Editar Perfil', edit_user_path(current_user) %>
								</li>
							<% end %>
							<li class="header-dropdown__item header-dropdown__item--profile">
								<%= link_to 'Cambiar Contraseña', edit_password_path(id:current_user) %>
							</li>
							<li class="header-dropdown__item header-dropdown__item--profile">
								<a href="http://www.aie.org.mx">Campus Virtual</a>
							</li>
							<li class="header-dropdown__item header-dropdown__item--logout">
								<%= link_to 'Salir', destroy_user_session_path, method: :delete %>
							</li>
						</ul>	
					</div>
				</span><!-- .header-adctions__item -->

			</div><!-- .site-header__actions -->

		</div><!-- .top-bar -->
	<% end %>
</head>
<body>


<%= yield %>



<script src="https://cdn.jsdelivr.net/foundation/6.2.4-rc2/foundation.min.js"></script>
<script>
	$(document).foundation();
</script>
</body>
</html>
